<div class="container"></div>

	<h1>寇汀災情支援網</h1>
	<subtitle>Coding Recue Network</subtitle>

	<table>
		<tr>
			<th>Category</th>
			<th>Title</th>
			<th>Created at</th>
			<th></th>
		</tr>
			<% @topics.each do |t| %>
		<tr>
				<td>【<%= t.category.name %>】</td>
				<td><%= t.title %></td>
				<td><%= t.created_at.to_date %></td>
				<td></td>
		</tr>
			<% end %>
	</table>		